.background {
	background-color: #502248;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.background.dark {
	background-color: #20171f;
}

.App {
	position: relative;
	z-index: 20;
	max-width: 800px;
	width: 100%;
	/* padding: 0px 10px 50px; */
	margin: 50px auto;
	background-color: #f3e6f0;
	border-radius: 5px;
	border: none;
}

.nav {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
	margin-bottom: 50px;
	background-color: #530a47;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.nav.dark {
	background-color: #351c30;
}

.logo h1 {
	font-size: 25px;
	font-weight: 800;
	color: #ccc;
}

.toggle {
	background-color: #6b0e5c;
	border-radius: 50%;

	cursor: pointer;
}

.toggle.dark {
	background-color: #20171f;
}

.toggle .icon {
	padding: 5px;
}

.App.dark {
	background-color: #362735;
}

.notification {
	background-color: #ddcad9;
	padding: 10px 30px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.notification.dark {
	background-color: #20171f;
}

.notification p {
	text-transform: capitalize;
	color: #9c7796;
	font-weight: 500;
	font-size: 12px;
	font-style: italic;
}

.notification.dark p {
	color: #eafdf8;
}

.notification p span {
	font-weight: 700;
	color: #b14431;
}

.notification.dark p span {
	color: #d2f7ed;
}

.all-task {
	background-color: #ddcad9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	padding: 50px 0;
}

.all-task.dark {
	background-color: #351c30;
}

.item {
	width: 80%;
	margin: 0 auto;
	padding: 5px;
}

.icon {
	color: #8a6783;
	margin: 5px;
	cursor: pointer;
}

.icon:hover,
.icon:active {
	color: #8d397b;
}

.icon.dark {
	color: #eafdf8;
}

.icon:hover.dark {
	color: #aab4b2;
}

.list-content {
	max-width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #d1b1cb;
	margin: 10px 0;
	padding: 10px;
}

.list-content.dark {
	background-color: #20171f;
}

.list-content h5 {
	color: #a06296;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-left: 10px;
}

.list-content.dark h5 {
	color: #aab4b2;
}

.list-content input:hover {
	cursor: pointer;
}

.list-content p {
	color: #9c7796;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 14px;
}

.list-content.dark p {
	color: #eafdf8;
}

.button {
	background-color: #ad72a3;
	color: #eafdf8;
	border: 0;
	outline: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	margin: 15px 0;
}

.button:hover {
	background-color: #b653a5;
}

.button.dark {
	background-color: #20171f;
}

.button:hover.dark {
	background-color: #352633;
}

.finished {
	background-color: #d1b1cb;
	margin: 10px auto;
	padding: 10px;
}

.finished.dark {
	background-color: #351c30;
}

.uppercase {
	text-transform: uppercase;
	font-weight: 700;
}
.info {
	color: #9c7796;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-size: 14px;

	text-align: center;
	padding: 20px 5px;
	line-height: 1.5;
	font-style: italic;
}

.info.dark {
	color: #eafdf8;
}

.taskfinished {
	display: flex;

	justify-content: space-around;
	align-items: center;
	background-color: #ddcad9;
	margin: 10px 0;
	padding: 20px;
}

.taskfinished.dark {
	background-color: #20171f;
}

.taskfinished h5 {
	color: #a06296;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.taskfinished.dark h5 {
	color: #aab4b2;
}

.taskfinished p {
	color: #9c7796;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-size: 14px;
}

.taskfinished.dark p {
	color: #eafdf8;
}

.finishedicon {
	color: #22a56f;
	margin: 5px;
}

.form {
	z-index: 999;
	width: 80%;
	margin: 0 auto;
}

.field {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

label {
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 600;
}

input,
textarea {
	padding: 10px;
	border: none;
	outline: none;
	background-color: #ccc;
	font-family: inherit;
	font-size: 14px;
	font-weight: 600;
	color: #333;
}

input:focus,
textarea:focus {
	border: none;
	outline: none;
}

textarea {
	height: 150px;
	resize: none;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	z-index: 50;
}
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 600px;
	height: 30rem;
	transform: translate(-50%, -50%);
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	z-index: 100;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media scren and (max-width: 400px) {
	.modal {
		top: 15%;
		left: 20%;
		height: 10rem;
	}
}
